<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esri.ArcGISRuntime" version="200.6.0" targetFramework="net48" />
  <package id="Esri.ArcGISRuntime.runtimes.win" version="200.6.0" targetFramework="net48" />
  <package id="Esri.ArcGISRuntime.WPF" version="200.6.0" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net48" />
  <package id="PDFsharp-wpf" version="1.50.5147" targetFramework="net48" />
</packages>